*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* define as propriedades de design do header*/

body
{
    background-color: #000;
}

#logo
{
    margin-top: 20px;
    width: 5%;
    margin-left: 10%;
}

a
{
    text-decoration: none;
    color: #fff;
}

header
{
    padding-top: 20px;
    width: 100%;
    padding-bottom: 20px;
}

nav
{
    margin-right: 600px;
    padding-top: 50px;
    float: right;
}

.link_nav
{
    font-family: 'Montserrat', sans-serif;
    padding-left: 200px;
    font-size: 1vw;
}


#background
{
    padding: 15%;
    width: 100%;
    background-image: url(./imagens/cosplayt.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    -webkit-filter: blur(1px);
    filter: blur(1px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(4px);
}

#titulo
{
    font-size: 4vw;
    color: #00AFEF;
    font-family: 'Montserrat', sans-serif;
}

#intro
{
    margin-top: 80px;
    border-radius: 5px;
    padding: 30px;
    padding-bottom: 100px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 2vw;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    color: #000; 
}

h2
{
    margin-top: 3% ;
    text-align: center;
    font-size: 2vw;
    font-family: 'Montserrat', sans-serif;
    color: #fff;

}

#topicos
{
    margin-top: 5%;
    width: 80%;
    margin-left: 5%;
    margin-right: 10%;
    color: #fff;
    font-size: 1.7vw;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    margin-bottom: 5%;
    text-align: center;
}

.exp
{
    padding-left: 13%;
}

#aa
{
    background-color: #fff;
    padding: 10%;
}

.espacamento
{
    padding-left: 10%;
}